<div class="topbar__inner">
      <span class="brand">School Registry<span class="dot">.</span></span>
      <!-- ng: bind .is-active and ng-click to switch the active tab -->
      <nav class="nav">
        <a href="#/" class="tab" ng-class="{'is-active': activeTab === 'home'}" ng-click="setTab('home')">Home</a>
        <a href="#/students" class="tab" ng-class="{'is-active': activeTab === 'students'}" ng-click="setTab('students')">Students</a>
        <a href="#/teachers" class="tab" ng-class="{'is-active': activeTab === 'teachers'}" ng-click="setTab('teachers')">Teachers</a>
        <!-- <span class="brand__sub">Admin console</span> -->
      </nav>
    </div>